.checkout {
  display: flex;
  padding: 20px;
  background-color: #f3f3f3;
  height: max-content;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout_username {
  padding-left: 10px;
  margin-bottom: -5px;
}

.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.checkout_left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.checkout_right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.subtotal {
  width: 300px;
  height: 100px;
}
